<mat-toolbar color="primary" [ngClass]="{'stylish-toolbar': isStylish}">
  <div class="header-container">
    <span class="left">
      <span [ngClass]="{'button-container-1': isStylish}">
        <button mat-icon-button (click)="goToRoute('home')">
          <mat-icon>chat_bubble_outline</mat-icon>
        </button>
      </span>
      <span [ngClass]="{'button-container-2': isStylish}">
        <button mat-icon-button (click)="goToRoute('notes')">
          <mat-icon>notes</mat-icon>
        </button>
      </span>
    </span>

    <span class="right">
      <span [ngClass]="{'button-container-3': isStylish}">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
    </span>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button (click)="goToRoute('profile')" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <button mat-flat-button class="button" (click)="authenticationService.signOut()">
      <mat-icon>login</mat-icon>
      <span>Log out</span>
    </button>
  </button>
</mat-menu>
