<app-header></app-header>
<div style="width: 100%; height: calc(100% - 50px); background: grey;">
  <as-split direction="horizontal">
    <as-split-area [size]="20" minSize="5" maxSize="20">
      <p>LEFT</p>
    </as-split-area>
    <as-split-area [size]="80">

      <div class="chat-container" *ngIf="authenticationService.user$ | async as user">
        <div class="message-container" *ngFor="let message of messages; index as index; trackBy: trackByUid" [class.to-right]="user.uid === message.uid">
          <span [class.to-right]="user.uid === message.uid">
            <mat-icon>person</mat-icon>
          </span>
          <div class="message" [class.own-message]="user.uid === message.uid">
            <div class="sender" *ngIf="showMessageSender(index)">
              {{message.from}}
              <span class="timestamp">
              {{message.timestamp?.seconds * 1000 | date: 'yyyy.MM.dd HH:mm'}}
            </span>
            </div>
            {{message.text}}
          </div>
        </div>
        <div class="scrollRef" #scrollRef></div>
      </div>

      <div class="input-container">
        <label for="story">Tell us your story:</label>
        <textarea [(ngModel)]="text" id="story" cols="50" rows="3" (keydown)="onKeyPressed($event)"></textarea>
        <i
          (click)="toggled = !toggled"
          [(emojiPickerIf)]="toggled"
          [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
          (emojiPickerSelect)="handleSelection($event)"
        >😄</i
        >
      </div>
    </as-split-area>
  </as-split>
</div>
