<app-header [(chatView)]="chatView"></app-header>
<div class="wrapper">
  <div class="sidebar" [ngClass]="{'active': collapseSidebar}">
    <app-sidebar [(collapsed)]="collapseSidebar"></app-sidebar>
  </div>
  <div class="right-side" [ngClass]="{'expanded': collapseSidebar}">
    <div class="chat-view" *ngIf="chatView else notes">
      <div class="chat-container" *ngIf="isStylish else regular">
        <app-fancy-chat></app-fancy-chat>
      </div>
      <ng-template #regular>
        <div class="chat-container">
          <app-chat></app-chat>
        </div>
      </ng-template>
    </div>

    <ng-template #notes>
      <app-notes></app-notes>
    </ng-template>
  </div>
</div>
