.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: calc(100% - 50px);
  max-height: calc(100% - 50px);
}

.sidebar {
  display: block;
  width: 20%;
  background-color: blueviolet;
  transition: all 1s;
}

.active {
  width: 80px;
}

.right-side {
  width: 80%;
  transition: all 1s;;
}

.expanded {
  width: calc(100% - 80px);
}

.chat-view {
  height: 100%;
}

.chat-container {;
  max-height: 80%;
  overflow-y: scroll;
}

.message-container {
  margin: 0 2em 0 2em;
}

.to-right {
  text-align: right;
}

.profile-pic-container {
  display: inline-block;
  width: 50px;
}

.message {
  display: inline-block;
  margin: .5em 0 .5em 0;
  padding: .5em;
  border-radius: 10px;
  max-width: 60%;
  background-color: aqua;
}

.own-message {
  background-color: var(--primary-color);
}

.timestamp {
  margin: 1em;
  color: darkgrey;
  font-size: 10px;
  font-style: italic;
}

.input-container {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-25%, 0);
}

label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.chat-footer {
  display: flex;
  align-items: center;
}

.chat-footer {
  border-top: 1px solid #ccc;
}

.chat-footer form, .chat-footer input {
  width: 100%;
}

.chat-footer {
  padding: 0 !important;
}

.chat-footer form {
  display: flex;
  align-items: center;
  width: 100%;
}

.chat-footer input {
  height: 50px;
  flex-grow: 1;
  line-height: 35px;
  padding-left: 20px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  font-size: 16px;
  color: #333;
  min-height: auto;
  overflow-y: hidden;
  resize: none;
  border-left: 1px solid #ccc;
}

.emoji-mart {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.chat-footer button {
  border: none;
  width: 50px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (mix-blend-mode: screen) {
  .chat-container:after {
    content: '';
    background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
    position: absolute;
    right: 0;
    top: 50px;
    height: calc(80% - 40px);
    width: 70%;
    mix-blend-mode: screen;
    pointer-events: none;
  }

  .own-message {
    background-color: black;
    color: white;
  }

  .other-message {
    position: relative;
    z-index: 1;
  }
}
