<app-header [(chatView)]="chatView"></app-header>
<div class="wrapper">
  <div class="sidebar" [ngClass]="{'active': collapseSidebar}">
    <app-sidebar [(collapsed)]="collapseSidebar"></app-sidebar>
  </div>
  <div class="right-side" [ngClass]="{'expanded': collapseSidebar}">
    <div class="chat-view" *ngIf="chatView else notes">
      <div class="chat-container" *ngIf="authenticationService.user$ | async as user">
        <div class="message-container" *ngFor="let message of messages; index as index; trackBy: trackByUid"
             [class.to-right]="user.uid === message.uid">
          <span *ngIf="showMessageSender(index) && user.uid !== message.uid">
            <mat-icon>person</mat-icon>
          </span>
          <div class="message" [class.own-message]="user.uid === message.uid">
            <div class="sender" *ngIf="showMessageSender(index)">
              {{message.from}}
              <span class="timestamp">
              {{message.timestamp?.seconds * 1000 | date: 'yyyy.MM.dd HH:mm'}}
            </span>
            </div>
            {{message.text}}
          </div>
          <span *ngIf="showMessageSender(index) && user.uid === message.uid">
            <mat-icon>person</mat-icon>
          </span>
        </div>
        <div class="scrollRef" #scrollRef></div>
      </div>


      <footer class="chat-footer">
        <emoji-mart class="emoji-mart" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker"
                    title="Pick your emoji…"></emoji-mart>
        <form (ngSubmit)='sendMessage()'>
          <button
            type="button"
            class="toggle-emoji"
            (click)="toggleEmojiPicker()">
            <i-feather name="smile"></i-feather>
          </button>
          <input placeholder="Type some shit and hit enter to send" type="text" name="message" [(ngModel)]="text">
        </form>
      </footer>
    </div>

    <ng-template #notes>
      <app-notes></app-notes>
    </ng-template>
  </div>
</div>
