<div class="notes-container" [ngClass]="{'stylish-bg': isStylish}">
  <mat-grid-list cols="8" rowHeight="150px">
    <mat-grid-tile>
      <div [ngClass]="{'card-container': isStylish}">
        <div class="note-card">
          <div class="note-content">
            <mat-icon class="note-icon">add</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let somthing of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]">
      <div [ngClass]="{'card-container': isStylish}">
        <div class="note-card">
          <div class="note-content">
            <mat-icon class="note-icon">notes</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
