/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --gradient-1: rgb(255, 143, 178);
  --gradient-2: rgb(167, 151, 255);
  --gradient-3: rgb(0, 229, 255);
  --fancy-background-color: #ee0000;
}
